# Ignore bundler config
.bundle

# Ignore secrets
secrets.yml

# Ignore rails log and tmp directories
/rails/log/*
!/rails/log/.keep
/rails/tmp

# Ignore rails paperclip uploads
/rails/public/system

# Ignore macOS system files
.DS_Store

# Ignore run directories
/.run_server
/.run
