<h1 class="section-header">Museum News and Articles</h1> 
    <div class="center">
        <% @articles.each do |a| %>
            <h4><%= a.title %></h4>
            <p><%= a.body %></p>
        <% end %>


        <iframe class="cemetary-record" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQWzA9RlO23HNcMwsVY4OETrfg97jbrkZqg9JFRtCvkSftyFq5uzCrXXpGG6z2nj4faJFFFoNE9Nf0d/pubhtml?gid=1354964643&amp;single=true&amp;widget=false&amp;headers=false&amp;chrome=false"></iframe>
    </div>