<h2 class="section-header">About Us</h2>
<div class='container'>
    Paragraph about the museum and general staff overview.
</div>

<h2 class="section-header">Museum Staff</h2>
<div class="container">
    <%= image_tag("Doug.JPG", :alt => "Doug Cooper") %>
    <h3 class="section-header">Doug Cooper</h3>
    <h5 class="section-header">Director</h5>
    <p>Doug Cooper has served as the Director of the Museum for the last thirteen years. Prior to his service as director Doug volunteered at the museum for a year. Doug retired from the electronic industry and genealogy is one of his many hobbies. 
    You can contact Doug Cooper at bmgldirector@bedfordvamuseum.org or by calling the museum at 540-586-4520.  
    </p>
</div>
<div class="container">
    <%= image_tag("Jennifer.JPG", :alt => "Jennifer Thomson") %>
    <h3 class="section-header">Jennifer Thomson</h3>
    <h5 class="section-header">Genealogical Librarian and Children’s Educational Director</h5>
    <p>
        Jennifer Thomson graduated in 2007 from Liberty University with a Bachelor’s of Science in History, and started working at the Bedford Museum and Genealogical Library shortly afterwards. After ten years at the Museum, she has become the Genealogical Librarian, Children’s Educational Director, Tour Guide, and Public Relations Liaison. 
        She is the Good Citizen and American History Essay Contest chairman for the Peaks of Otter chapter, National Society Daughters of the American Revolution. She is the Patriotic Instructor for the Taylor Wilson camp, Auxiliary Sons of Union Veterans of the Civil War. She is the President and Registrar for the General William R Terry chapter United Daughters of the Confederacy and a member of the Huguenot Society. She is also on the Board at Historic Avenel and Bedford Main St. Organization. 
        You can contact Jennifer at librarian@bedfordvamuseum.org or by calling the museum at 540-586-4520.
    </p>
</div>
<div class="container">

    <h3 class="section-header">Grace Peterson</h3>
    <h5 class="section-header">Archives and Business Manager</h5>
    <p>
        Grace Peterson has been at the Museum for two years after graduating from Liberty University with a Bachelors of Science in History in 2015. 
        Grace is new to the Genealogy world but not to the research side of things. Having always been interested in the people from the past and the lives they led, Genealogy has been a fun transition. 
        You can contact Grace at gpeterson@bedfordvamuseum.org or by calling the Museum at 540-586-4520. 
    </p>
</div>
<div class="container">
    <h3 class='section-header'>Shirley Wheeler</h3>
    <h5 class="section-header">Gift Shop Manager</h5>
    <p>
        Before accepting a fulltime position with the Museum, Shirley volunteered for ( ) years. Shirley has served as Gift Shop Manager and Membership Coordinator for the past ( ) years.
        You can contact Shirley at or by calling the Museum at 540-586-4520
    </p>
</div>