    <div class="main-content">
      <h1 class="section-header">Visit Us</h1>


      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h3 class="section-header">Hours</h3>
            <p class="section-header">
              Monday Through Friday: 10AM - 5PM<br /> Saturday: 10AM - 3PM<br /> Closed on Sundays and National Holidays
            </p>
            <p class="section-header">
              Handicapped access is available in the rear of the building.
            </p>
          </div>

          <div class="col-md-6">
            <h3 class="section-header">Address</h3>
            <p class="section-header">
              201 East Main Street<br /> Bedford, VA 24523
            </p>

            <p class="section-header">
              Phone: 540-586-4520
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3 class="section-header">Directions</h3>
            <p>
              When traveling east on 460 (from Roanoke), take the 460 Business exit. This will be a left exit off 460. That will put you on Blue Ridge Avenue which will turn into West Main Street and then East Main Street. The Museum will be on your left just after
              you have gone through the third traffic light - 1.5 miles. There is a parking lot next to the building. When traveling west on 460 (from Lynchburg), take the 460 Business exit. The Museum will be on your right shortly after you pass through
              the second traffic light - 1.5 miles.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3 class="section-header">Parking Map</h3>
            <%= image_tag("museumparking.png", :alt => "Parking map") %>
          </div>
        </div>
      </div>
    </div>