
		
			<div class="container">
				<div class="jumbotron">
					<h2 class="section-header">Welcome to the Bedford Museum</h2>
					<p>We are proud to the be the custodians and providers of Bedford's history. Our exhibits include Early Native life through the War Between the Statesm and further into the Twentieth Century. Our mission is to develop and maintain files for genealogical
						and historical research as well as collect, preserve, and interpret object of historical significance to the Town of Bedford and Bedford County, Virginia.</P>
					<p>This is a placeholder index header earmarked for replacement by the announcement and news slides.</p>
				</div>
			</div>
			<div class="container main-content opaque">
				<div class="row">
					<div class="col-md-12 main-content">
						<h3 class="section-header">FRIDAY’S AT THE MUSEUM 2017</h3>
						<p>Join us this year for our annual kids program, Friday's at the Museum. Nunc ac purus rhoncus, rhoncus neque ut, lobortis justo. Etiam faucibus ornare est, a placerat libero imperdiet in. Nulla eget dolor lorem. Phasellus tempus nulla est, sit amet
							luctus magna euismod vitae. Etiam sit amet posuere nisl. Mauris interdum accumsan accumsan. Praesent malesuada congue erat id tincidunt. Sed eu iaculis lorem. Maecenas eget dictum justo. In lacinia lectus laoreet porta varius. Aliquam lacus nunc,
							venenatis non dignissim quis, tincidunt nec justo. Donec auctor nisi lectus, sed sodales lorem tempus sit amet. Vestibulum vestibulum at lorem in iaculis. Nulla ultrices justo sit amet posuere luctus. Etiam vehicula magna eros, vitae placerat justo
							finibus at. Integer quis posuere arcu.Nulla dapibus fermentum lacus nec conseq</p>
					</div>

					<div class="col-md-12 main-content">
						<h3 class="section-header"><a href="directions.html"> Visit the Museum</a></h3>
						<p>We hope that you and your family are able to come and visit us in the near future. We have a selection of exciting exhibits and tour opportunities that show how Bedford County was at the center of the Westward expansion, Indian culture, and provided
							many brave sould for our national defense. Come and learn more about our history and be sure to ask the on staff genealogist about how you can leave knowing more about your own history as well. </p>
					</div>
					<div class="col-md-12 main-content">
						<h3 class="section-header">Admission</h3>
						<p>The Museum and Genealogical Library is free and open to the public, however a $5.00 donation is suggested per adult.</p>
					</div>




					<div class="col-md-6 main-content">
						<h3>VIP Jones Memorial Tour Behind the Scenes</h3>
						<p>This event is by reservation only! You must be on the list in order to attend the tour! For more information click <a href="http://mailchi.mp/bf1282a98264/vip-jones-memorial-research-tour-behind-the-scenes">HERE</a> or call the museum at 540-586-4520.</p>
					</div>
					<div class="col-md-6 main-content">
						<h3 class="section-header">Museum Forum</h3>
						<p>Join our monthly forum! For only $10.00 you can attend all our forum related events and receive our bi-annual newsletter. Click <%= link_to "Here", asset_path("newslettersample.pdf") %> for a free sample of our bi-annual newsletter.</p>
					</div>
				</div>
				<div class="col-md-12 main-content">
					<h3 class="text-center"><a href="membership.html"> Support Us</a></h3>
					<p class="text-center">The Bedford museum cannot open its doors every day on its own. We need people like you to help us maintain and expand our programs and knowledge of the history of Bedford County. We gladly accept donations of all sizes and are always looking for
						volunteers to assist us in our work. If you are interested in a donation or volunteering please contact Doug Cooper at email.filler.

				</div>
			</div>

