<h1 class="section-header">Index Manager</h1>
<p>The following entries represent what is on the main website index page. This data is for announcements and what ever you want the users to see when they first access the site.</p>
<%= link_to "Add Index Page Item", new_index_path %>
<div class="container">
    <ul>
        <% @indexitems.each do |indexitem| %>
            <li>
                <h6><%= @indexitem.title %></h6>
                <p><%= @indexitem.description %></p>
            </li>
        <% end %>
    </ul>
</div>