<div class="main-content">
  <h1 class="section-header">Donations and Membership</h1>
  <div class="container">
    <p class="section-header">
      Our mission of education and protecting our history cannot be accomplished alone. Your donations help us continue to collect and provide historical data to you. You will receive our quarterly newsletter “Museum News” updating you on new research resources available, new books available for sale and historical articles about Bedford County, also Forum News.
    </p>
    <h3 class="section-header">Membership</h3>
    <p class="section-header">
      In order to become a member of the Bedford Museum you must either mail in your donation to the following address or use the paypal button and you can specify the exact amount you wish to donate. After the Bedford Museum receives your donation you will receive a username and password so that you may access the Membership only section.
    </p>
    <p class="section-header">
      <strong>Note:</strong> All membership benefits expire after one year. Recurring membership is available.
    </p>

    <table class="table table-striped table-bordered table-responsive">
      <tr>
        <td>
          <h4 class="table-header">Forum Member</h4>
        </td>
        <td>
          <p>
            No on-line access or discounts but you do receive a newsletter and an invitation to all Forum activities. Your contribution is appreciated to help us continue our work.
          </p>
        </td>
        <td>
          <h5>$10.00 or more</h5>
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" width="147" height="47">
        </td>
      </tr>
      <tr>
        <td>
          <h4 class="table-header">Museum Member*</h4>
        </td>
        <td>
          <p>
            Free newsletter, Free access to on-line marriage, cemetery, book list, surname file list, map list and other records.
          </p>
        </td>
        <td>
          <h5 class="table-header">$25.00 or more</h5>
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" width="147" height="47">
        </td>
      </tr>

      <tr>
        <td>
          <h4 class="table-header">Sustaining Member*</h4>
        </td>
        <td>
          In addition to "Member" benefits listed above, Sustaining Members receive a 10% discount in our Gift Shop.
        </td>
        <td>
          <h5>$50.00 or more</h5>
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" width="147" height="47">
        </td>

      </tr>
      <tr>
        <td>
          <h4 class="table-header">Silver Member*</h4>
        </td>
        <td>
          <p>
            In addition to "Member" benefits listed above, Silver Members receive a 10% discount in our Gift Shop. The additional donation will help us continue our mission.
          </p>
        </td>
        <td>
          <h5 class="table-header">$100.00 or more</h5>
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" width="147" height="47">
        </td>

      </tr>

      <tr>
        <td>
          <h4 class="table-header">Gold Member*</h4>
        </td>
        <td>
          <p>
            In addition to "Member" benefits listed above, Gold Members receive a 10% discount in our Gift Shop. The additional donation will help us continue our mission.
          </p>
        </td>
        <td>
          <h5 class="table-header">$500.00 or more</h5>
          <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!" width="147" height="47">
        </td>

      </tr>

    </table>
    <h3 class="section-header">Online Benefits*</h3>
    <p class="section-header">
      Starting at Museum Member and above you will receive access to the following discounts and access
    </p>
    <ul>
      <h5 class="section-header">Museum Member</h5>
      <li>
        Complete Index to all Bedford Marriages (31,000) from 1754-1899. Copies of the actual bonds and licenses can be furnished at a discount to Sustaining Members. ($10.00-nonmember, $8.00-Sustaining Member per individual record, no matter number of pages.)
      </li>
      <li>
        Complete Index to over 1,500 cemeteries with over 37,000 names that have been recorded in    Bedford County. Copies of these records as well as photographs of some cemeteries can be provided to Sustaining Members at a discount. (Cost is based on our normal policy of $.50/page for 1st ten pages and $.25/page thereafter. Sustaining Members receive a 10% discount to this policy)
      </li>
      <li>
        A  list of books and maps available in our research Library. The book list is sorted by surnames they refer to and also by book title.
      </li>
      <li>
        A complete list of all family folders available in our library. We can also scan the complete contents of these folders and provide them on CD at a discount to Sustaining Members. (Cost of this service is based on our normal policy of $.50/page for the first 10 pages and $.25/page thereafter. Sustaining Members receive a 10% discount to this policy.)
      </li>
      <h5 class="section-header">Sustaining/Silver/Gold Member</h5>
      <li>
        In addition to the benefits listed above, Sustaining Silver and Gold Members receive a 10% discount on all Gift Shop purchases.
      </li>
    </ul>
  </div>





    </div>