<div class="main-content">
      <h1 class="section-header">Genealogical Research Services</h1>
      <div class="container">
        <p class="section-header">
          The Bedford Museum and Genealogical Library has extensive records and other materials for research about Bedford County and Town, and some materials on other counties of Virginia.
        </p>
        <p class="section-header">
          We offer research assistance for genealogists unable to visit our library.  Searches will include published and unpublished documents in our Library, including our extensive survey of county cemeteries, as well as the official documents at the Bedford County Courthouse. Our goal is to provide you with information that is verified by documents or reliable sources, and if anything sent is not documented it will be so indicated.
        </p>
        <p class="section-header">
          Basic fees are $20.00 per hour, .50 per page, and postage. We request an initial advance donation of $25.00 to cover the first hour, some copies and postage, and an indication of the number of hours or a dollar amount that you authorize us to bill you on completion.  We cannot know in advance how long the research will take or how much information we will be able to find.  We will not overcharge you and will not exceed your limit without first contacting you.
        </p>
        <p class="section-header">
           If you are a Museum member ($25.00 per year), the amount for research will be $15.00 per hour.
        </p>
        <p class="section-header">
          Submit all requests in writing (email is fine). Be as precise as possible, including spouses, dates, and locations if known. If you have several questions, please list them in order of your priority.  Please allow two to three weeks for us to work on your request; if you have not heard from us in two weeks please feel free to contact us.  Include your mailing address, phone number and email address if any.
        </p>
        <p class="section-header">
          Send any requests or inquiries to bmgl@bedfordvamuseum.org. We accept major credit cards, checks, or Pay-Pal.  Please email the payment to bccm-sales@bedfordvamuseum.org.  Be sure to note on the Pay-Pal order that it is for research.  If you need assistance, please call 540-586-4520.
        </p>
      </div>
    </div>