@import "bootstrap";

.member-login {
  float:right;
}

body {
  padding-top: 80px;
}

.main-content {
  min-height:1024px;
}

.section-header {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.table-header {
  text-align: center;
  vertical-align: middle;
}

.schedule-list {
  padding-left: 200px;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.center {
  text-align: center;
}

.book-image {
  margin-top: 10px;
  max-width: 260px;
  max-height: 337px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.book-image-small {
  margin-top: 10px;
  height: 150px;
  width: auto;
}

.header-image {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 z-index: -1;
}

.background-overlay {
  background-color: rgba(255, 255, 255, 0.90);
  margin-top: 300px;
}

.footer {
  bottom: 0;
}

.nav-item {
  white-space:nowrap;
}

.staff-bio {
  width: 300px;
  height: 400px;
}

.cemetery-record {
  width: 100%;
  height: 1000px;
}

.alert, .notice {
  position: static;
  border-radius: 0.25rem;
  background: #f8f9fa;
  text-align: center;
  font-size: 1.5rem;
}

p {
  margin: 0;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  background: #ffffff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu .dropdown-item:hover {
  background: #bababa;
  color: #ffffff;
}

 .navbar, .navbar .navbar-brand, .nav-item, .nav-link{
  background: #ffffff;
  color: black;
}

.navbar-brand {
  font-weight: bold;
}

.navbar:hover .nav-item:hover, .nav-link:hover{
  background: #bababa;
  color: #ffffff;
}

.test {
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.license {
    text-align: center;
    font-size: 75%;
    color: grey;
}