<h1 class="section-header">Bookstore</h1> 
<p class="section-header">Categories, search, filter boxes!</p>
<div class="container">
    <% @books.each do |book| %>
        <h6><%= book.title %></h6>
        <p><%= book.author %></p>
    <% end %>
</div>
