
 @import "bootstrap";

.member-login {
  float:right;
}

body {
  padding-top: 80px;
}

.main-content {
  margin-bottom: 10px;
}

.section-header {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

.table-header {
  text-align: center;
  vertical-align: middle;
}

li {
  padding-bottom: 5px;
}

.schedule-list {
  padding-left: 200px;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.center {
  text-align: center;
}

.book-image {
  width: 260px;
  height: 337px;
}

.book-image-small {
  width: 100px;
  height: 150px;
}

.background {
  background-image: url("museum.jpg");
  background-size: contain;
  background-repeat: no-repeat;

}

.opaque {
  background: white;
  opacity: 0.65;
}