/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.member-login {
  float:right;
}

body {
  padding-top: 80px;
}

.main-content {
  margin-bottom: 10px;
}

.section-header {
  text-align: center;
}

img {
  display: block;
  margin: auto;
}

.table-header {
  text-align: center;
  vertical-align: middle;
}

li {
  padding-bottom: 5px;
}

.schedule-list {
  padding-left: 200px;
}

.justify-text {
  text-align: justify;
  text-justify: inter-word;
}

.center {
  text-align: center;
}

.book-image {
  width: 260px;
  height: 337px;
}

.book-image-small {
  width: 75px;
  height: 100px;
}